body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 50px;
}
.orange {
  color: orangered;
}

section {
  display: flex;
}

.myimage {
  width: 50%;
  padding-left: 5%;
}

.myimage img {
  width: 70%;
}
.link-button {
  text-decoration: none;
  background: orange;
  padding: 15px 50px;
  margin-left: 60px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}
